#profile=janestreet
# max-indent=2
margin=100
match-indent=2
max-iters=10
margin-check=false
disable=false
debug=false
comment-check=true
wrap-fun-args=false
wrap-comments=false
type-decl-indent=2
type-decl=sparse
stritem-extension-indent=0
space-around-variants=true
space-around-records=true
space-around-lists=true
space-around-arrays=true
single-case=sparse
sequence-style=terminator
sequence-blank-line=compact
parse-toplevel-phrases=false
parse-docstrings=false
parens-tuple-patterns=multi-line-only
parens-tuple=multi-line-only
parens-ite=true
ocp-indent-compat=true
#nested-match=wrap
module-item-spacing=compact
#max-indent=2
#match-indent-nested=never
line-endings=lf
let-module=sparse
let-binding-spacing=double-semicolon
let-binding-indent=2
let-and=sparse
leading-nested-match-parens=true
infix-precedence=parens
indicate-nested-or-patterns=unsafe-no
indicate-multiline-delimiters=no
indent-after-in=0
if-then-else=keyword-first
function-indent-nested=never
function-indent=2
field-space=loose
extension-indent=2
exp-grouping=parens
dock-collection-brackets=false
doc-comments-tag-only=fit
doc-comments-padding=1
doc-comments=before
# disambiguate-non-breaking-match=false
cases-matching-exp-indent=normal
#cases-exp-indent=2
break-struct=force
break-string-literals=auto
break-sequences=true
break-separators=before
break-infix-before-func=true
break-infix=fit-or-vertical
break-fun-sig=fit-or-vertical
break-fun-decl=fit-or-vertical
break-collection-expressions=fit-or-vertical
break-cases=fit-or-vertical
break-before-in=fit-or-vertical
assignment-operator=begin-line
